@import url("https://fonts.googleapis.com/css2?family=Josefin+Sans:wght@400;600&display=swap");
html,
body {
    height: 100%;
}
* {
    box-sizing: border-box;
}
p,
h1,
h2,
h3,
h4,
h5,
h6,
span,
a {
    font-family: "Josefin Sans", sans-serif !important;
}
a {
    color: #fff;
}
a:hover {
    text-decoration: none;
}
.dashboard-container {
    display: flex;
    width: 100%;
    height: 100%;
    flex-wrap: wrap;
}
nav.sidebar {
    background-color: #191c24;
    color: #fff;
    height: auto;
    width: 16%;
    position: relative;
}
nav.sidebar .user-info {
    display: flex;
    align-items: center;
    padding: 0px 0px 20px 21px;
}
nav.sidebar .user-info .user-pic {
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 100%;
    margin-right: 8px;
}
nav.sidebar .user-info .user-status h3 {
    font-size: 1rem;
    margin-bottom: 0px;
}
nav.sidebar .user-info .user-status p {
    color: #ffffff94;
    margin-bottom: 0;
    font-size: 12px;
}
nav.sidebar .side-links ul {
    list-style: none;
    padding: 0;
}
nav.sidebar .side-links ul li a {
    color: #fff;
    display: block;
    padding: 6px 0;
    font-size: 15px;
    text-align: center;
}
nav.sidebar .logo {
    padding: 18px 0 14px 21px;
    letter-spacing: 7px;
    text-transform: uppercase;
}
nav.sidebar .logo h2 a:hover {
    color: #fff;
}
nav.sidebar .logo::after {
    content: "\f001";
    width: 60px;
    height: 100%;
    position: absolute;
    background-color: #00d25b;
    right: 0;
    top: 0;
    font-family: "Font Awesome 5 Free";
    font-size: 29px;
    font-weight: bold;
    text-align: center;
    padding-top: 10px;
}
.side-links li {
    margin: 0 75px 0 0;
}
.side-links li:hover {
    background-color: #0f1015;
    border-radius: 0 50px 50px 0;
}
.side-links li:hover a {
    text-decoration: none;
}
/* navbar */
.dashboard-container .mainbody {
    width: 100%;
    display: flex;
    flex-direction: column;
}
.dashboard-container .mainbody nav.navbar {
    justify-content: flex-end;
    background-color: #1b2039;
    color: #fff;
    padding: 18px 21px 14px 21px;
}
.dashboard-container.front .mainbody nav.navbar {
    justify-content: space-between;
}
.dashboard-container .mainbody nav.navbar .acc-container {
    display: flex;
    align-items: center;
    position: relative;
}
.dashboard-container .mainbody nav.navbar .acc-container .user-pic {
    width: 35px;
    height: 35px;
    background-color: #fff;
    border-radius: 100%;
    margin-right: 9px;
}
.dashboard-container .mainbody nav.navbar .acc-container h4 {
    font-size: 1rem;
    margin-bottom: 0;
    margin-right: 6px;
}
.dashboard-container .mainbody nav.navbar .acc-container i.fas.fa-chevron-down {
    font-size: 11px;
}
.dashboard-container
    .mainbody
    nav.navbar
    .acc-container
    i.fas.fa-chevron-down:hover {
    cursor: pointer;
}

.dashboard-container .mainbody nav.navbar .acc-container .navbar-account {
    display: flex;
    align-items: center;

    margin-left: 16px;
}
.dashboard-container .mainbody nav.navbar .acc-container .dropdown-acc {
    position: absolute;
    top: 46px;
    background-color: #191c24;
    width: 100%;
    display: none;
    box-shadow: 1px 1px 5px 1px #00000094;
    z-index: 1;
}
.dashboard-container .mainbody nav.navbar .acc-container .dropdown-acc h4 {
    padding: 15px 13px;
    border-bottom: 1px solid #fff;
    margin: 0;
    font-size: 16px;
    font-weight: bold;
}
.dashboard-container .mainbody nav.navbar .acc-container .dropdown-acc ul {
    list-style: none;
    margin: 0;
    padding: 0;
}
.dashboard-container .mainbody nav.navbar .acc-container .dropdown-acc ul li {
    padding: 15px 13px;
    font-size: 16px;
    text-align: center;
}
.dashboard-container .mainbody nav.navbar .acc-container .dropdown-acc ul li a {
    text-decoration: none;
    display: block;
    color: #fff;
}
.dashboard-container
    .mainbody
    nav.navbar
    .acc-container
    .dropdown-acc
    ul
    li:hover
    a {
    color: #ffffffa3;
}
.dashboard-container
    .mainbody
    nav.navbar
    .acc-container
    i.fas.fa-chevron-down:focus
    .dropdown-acc {
    display: block;
}
.dashboard-container .mainbody nav.navbar .acc-container .btn-container a {
    background-color: #3bc8e7;
    padding: 4px 22px;
    margin-left: 18px;
    border-radius: 10px;
    font-size: 15px;
}
.searchbar-container input[type="text"] {
    width: 520px;
    padding: 13px 9px;
    margin-left: 17px;
    background-color: #fff;
    border: 1px solid #0000001a;
    height: 63px;
    font-size: 17px;
}
.searchbar-container button {
    background-color: #3bc8e7;
    height: 63px;
    padding: 0 19px;
    font-size: 25px;
    border: none;
    position: relative;
    top: 2px;
    color: #fff;
}
/* MAIN CONTENT */
.dashboard-container .mainbody .content {
    background-color: #000;
    height: 100%;
    padding: 15px;
}
.dashboard-container .mainbody .content .audio-index {
    background-color: #191c24;
    padding: 27px 37px;
    border-radius: 5px;
    position: relative;
}
/* .dashboard-container .mainbody .content .audio-index  */
.form-control {
    border: 1px solid #0000001a;
    margin-bottom: 16px;
    height: 63px;
    font-size: 17px;
}

.dashboard-container .mainbody .content .audio-index .audio-uploader {
    width: 100%;
    height: 199px;
    background-color: #2a3038;
    color: #fff;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    border-radius: 3px;
    cursor: pointer;
    margin-bottom: 16px;
}
.dashboard-container
    .mainbody
    .content
    .audio-index
    .audio-uploader
    i.fas.fa-music {
    font-size: 29px;
    margin-bottom: 11px;
}
.dashboard-container .mainbody .content .audio-index .audio-uploader h2 {
    font-size: 18px;
}
label[for="audio-upl"] {
    display: block;
}
.dashboard-container .mainbody .content .audio-index textarea.form-control {
    height: 200px;
    padding-top: 17px;
}
/* .dashboard-container .mainbody .content .audio-index */
button.form-control {
    background-color: #3bc8e7;
    color: #fff;
    font-weight: bold;
    text-transform: uppercase;
}
.dashboard-container .mainbody .content .audio-index h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 18px;
    letter-spacing: 7px;
}
.dashboard-container .mainbody .content .audio-index h1 {
    color: #fff;
    text-transform: uppercase;
    font-weight: bold;
    margin-bottom: 18px;
    letter-spacing: 7px;
}
.dashboard-container .mainbody .content .audio-index h1::after {
    content: "";
    width: 903px;
    height: 13px;
    background-color: #3bc8e7;
    position: absolute;
    top: 13px;
}
.dashboard-container .mainbody .content .audio-index .music-container {
    width: 100%;
    color: #fff;
}
.dashboard-container
    .mainbody
    .content
    .audio-index
    .music-container
    .music-single {
    display: flex;
    justify-content: space-between;
    background-color: #2a3037;
    padding: 16px 20px;
    margin-bottom: 16px;
    flex-direction: column;
}
.dashboard-container
    .mainbody
    .content
    .audio-index
    .music-container
    .music-single
    .music-single-item {
    display: flex;
    justify-content: space-between;
}
.music-progress-container {
    width: 100%;
    height: 4px;
    background-color: #ffffff42;
    cursor: pointer;
    margin: 10px 0;
    border-radius: 5px;
}
.dashboard-container
    .mainbody
    .content
    .audio-index
    .music-container
    .music-single
    .music-handle {
    display: flex;
    justify-content: center;
}

.music-progress-container .music-progress {
    background-color: #fff;
    height: 100%;
    width: 0%;
    border-radius: 5px;
}
.dashboard-container
    .mainbody
    .content
    .audio-index
    .music-container
    .music-single
    .single-music-container {
    display: flex;
    /* flex-direction: column; */
    align-items: center;
}
.dashboard-container
    .mainbody
    .content
    .audio-index
    .music-container
    .music-single
    .single-music-container
    .music-img {
    width: 60px;
    height: 60px;
    background-color: #fff;
    border-radius: 11px;
    margin-bottom: 12px;
    margin-right: 9px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #000;
    font-size: 25px;
}
.dashboard-container .mainbody .content .audio-index .add-new-btn a {
    background-color: #3bc8e7;
    color: #fff;
    padding: 9px 23px;
    text-transform: uppercase;
    font-weight: bold;
    border-radius: 5px;
}
.dashboard-container .mainbody .content .audio-index .add-new-btn {
    margin-bottom: 25px;
}
.page-title-container {
    position: relative;
}
.dashboard-container
    .mainbody
    .content
    .audio-index
    table.table.table-bordered {
    color: #fff;
}
.dashboard-container .mainbody .content .audio-index small {
    color: red;
}
section.ftco-section {
    background-color: #191c24;
    color: #fff;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
section.ftco-section {
    background-color: #191c24;
    color: #fff;
    width: 100vw;
    height: 100vh;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}
.row.justify-content-center.main-body-login
    .login-wrap.p-4.p-md-5
    h3.text-center.mb-4 {
    font-size: 40px;
    text-transform: uppercase;
    font-weight: bold;
    letter-spacing: 14px;
}
.row.justify-content-center.main-body-login .form-control {
    margin-bottom: 16px;
    height: 63px;
    font-size: 17px;
    border: 1px solid;
}
.row.justify-content-center.main-body-login {
    background-color: #2a3037;
    margin-top: 118px;
    border-radius: 14px;
    padding-top: 26px;
}
.row.justify-content-center.main-body-login
    button.btn.btn-primary.rounded.submit.p-3.px-5.form-control {
    background-color: #3bc8e7;
    border: 1px solid #0000001a;
}
/* LOGIN PAGE */
.page-container {
    width: 100%;
    height: 100%;
    background-color: #191c24;
    display: flex;
    flex-wrap: wrap;
}
.page-container .first-half {
    flex: 1;
    padding: 35px 100px;
    background-color: #14182a;
}
.page-container .first-half .logo-sec {
    position: relative;
    display: flex;
    flex-wrap: wrap;
}
.page-container .second-half {
    flex: 2;
}
.logo-sec h1 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 7px;
    flex: 1;
    margin-right: 10px;
}
.page-container .first-half .logo-sec div {
    background-color: #3bc8e7;
    flex: 3;
    height: 39px;
    position: relative;
    top: 0px;
    display: flex;
    align-items: center;
    font-size: 24px;
    padding-left: 9px;
    color: #fff;
}
.page-container .first-half .form-to-enter {
    padding: 43px 76px;
}
.page-container .first-half .form-to-enter .form-control {
    background-color: #1b2039;
    margin-bottom: 16px;
    height: 63px;
    font-size: 17px;
    border: 1px solid;
}
.page-container .first-half .form-to-enter button.form-control {
    background-color: #3bc8e7;
    border: 1px solid #0000001a;
    color: #fff;
    font-weight: bold;
}
.page-container .first-half .form-to-enter h2 {
    color: #fff;
    text-transform: uppercase;
    letter-spacing: 7px;
    text-align: center;
    margin-bottom: 25px;
    font-weight: bold;
}
.second-half div {
    width: 100%;
    height: 100%;
    background-color: #3bc8e7;
    opacity: 0.7;
}
.contains {
    background-color: #14182a;
    padding: 27px 37px;
    border-radius: 5px;
    position: relative;
    color: #fff;
}
.artists {
    margin-top: 31px;
}
.artists .col-md-2 .artist-img-container {
    width: 100%;
    height: 172px;
    border-radius: 10%;
    background-color: #000;
    overflow: hidden;
}
.artists .col-md-3 .artist-img-container {
    width: 100%;
    height: 172px;
    border-radius: 19%;
    background-color: #000;
    overflow: hidden;
}
.artists .artist-container .artist-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}
.artists .artist-container .artist-info h4 {
    font-size: 18px;
    font-weight: bold;
    text-align: center;
    margin-top: 15px;
}
.section-title-container {
    display: flex;
    flex-wrap: wrap;
    margin-bottom: 30px;
    position: relative;
    justify-content: space-between;
}
.section-title-container a {
    font-size: 15px;
}
.section-title-container h2 {
    font-size: 19px;
    font-weight: 600;
    color: #3bc8e7;
}
.section-title-container h2::after {
    width: 100px;
    height: 5px;
    content: "";
    position: absolute !important;
    bottom: 0;
    left: -15px;
    z-index: 0;
    background: -webkit-radial-gradient(
        50% 50%,
        ellipse closest-side,
        #3bc8e7,
        rgba(255, 42, 112, 0) 60%
    );
    background: -moz-radial-gradient(
        50% 50%,
        ellipse closest-side,
        #3bc8e7,
        rgba(255, 42, 112, 0) 60%
    );
    background: -ms-radial-gradient(
        50% 50%,
        ellipse closest-side,
        #3bc8e7,
        rgba(255, 42, 112, 0) 60%
    );
    background: -o-radial-gradient(
        50% 50%,
        ellipse closest-side,
        #3bc8e7,
        rgba(255, 42, 112, 0) 60%
    );
}
.section-title-container .liner {
    background-color: #3bc8e7;
    position: relative;
    top: 15px;
    flex-grow: 100;
    height: 6px;
}
.contains section {
    padding-top: 82px;
}
section.latest-music .latest-music-container .music-img-container {
    width: 100%;
    position: relative;
    border-radius: 10%;
}
.playBtn-container {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    border-radius: 10px;
    background-image: -moz-linear-gradient(
        90deg,
        rgb(22, 26, 46) 0%,
        rgb(237, 63, 179) 0%,
        rgb(59, 200, 231) 0%,
        rgba(32, 167, 196, 0) 100%
    );
    background-image: -webkit-linear-gradient(
        90deg,
        rgb(22, 26, 46) 0%,
        rgb(237, 63, 179) 0%,
        rgb(59, 200, 231) 0%,
        rgba(32, 167, 196, 0) 100%
    );
    background-image: -ms-linear-gradient(
        90deg,
        rgb(22, 26, 46) 0%,
        rgb(237, 63, 179) 0%,
        rgb(59, 200, 231) 0%,
        rgba(32, 167, 196, 0) 100%
    );
    height: 100%;
    width: 100%;
    left: 0;
    top: 0;
    visibility: hidden;
    cursor: pointer;
}
section.latest-music
    .latest-music-container
    .music-img-container:hover
    .playBtn-container {
    visibility: visible;
}
section.latest-music .latest-music-container .music-img-container img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    border-radius: 10%;
}
section.latest-music .latest-music-container .music-info h4 {
    font-weight: 600;
    text-align: center;
    font-size: 14px;
    margin-top: 15px;
    flex: 1;
}
.music-cover {
    width: 100%;
    height: 80%;
}
.music-cover img {
    width: 100%;
    height: 100%;
    object-fit: contain;
}
.music-controls {
    height: 20%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
    padding: 16px 0 0 0;
    font-size: 44px;
}
.music-progress-container {
    width: 100%;
    height: 2px;
    background-color: #00d25b33;
    margin-bottom: 8px;
    cursor: pointer;
}
.music-progress-container .music-progress {
    width: 0%;
    background-color: #3bc8e7;
    height: inherit;
    position: relative;
}
.music-actions i.fas.fa-play {
    margin-left: 20px;
    margin-right: 17px;
}
section.latest-music a {
    color: #fff;
    text-decoration: none;
}
.dashboard-container
    .mainbody
    .content
    .audio-index
    .music-container
    .music-single
    .action-icons {
    display: flex;
    flex-wrap: wrap;
    /* flex-direction: column; */
    align-items: center;
    justify-content: center;
}
.dashboard-container
    .mainbody
    .content
    .audio-index
    .music-container
    .music-single
    .action-icons
    button {
    background-color: transparent;
    border: none;
}
.dashboard-container
    .mainbody
    .content
    .audio-index
    .music-container
    .music-single
    .action-icons
    i {
    font-size: 22px;
}
.dashboard-container
    .mainbody
    .content
    .audio-index
    .music-container
    .music-single
    .action-icons
    i {
    font-size: 22px;
    margin-left: 10px;
}
.dashboard-container
    .mainbody
    .content
    .audio-index
    .music-container
    .music-single
    .action-icons
    i.fas.fa-trash-alt {
    color: #ff0000ad;
}
.genres .genre-container {
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 60px;
    text-transform: uppercase;
    background-color: #1b2039;
    margin-bottom: 20px;
    height: 274px;
}
.genres .genre-container h2 {
    font-weight: bold;
    letter-spacing: 2px;
}
.music-single-page .music-cover {
    height: 520px;
}
.music-single-page .music-cover img {
    object-fit: fill;
}
.reviews .stars i {
    font-size: 33px;
    margin-right: 11px;
}
.reviews .stars i:hover {
    cursor: pointer;
}
.reviews .stars {
    font-size: 33px;
    margin-right: 11px;
    margin-bottom: 14px;
}
.filled {
    color: yellow;
}
.reviews-colection .review-container {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    padding: 18px 21px;
    background-color: #1b2039;
    border-radius: 5px;
    margin-top: 23px;
}
.playlist-modal {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #0000008f;
    visibility: hidden;
}
.playlist-modal .modal-container {
    background-color: #1b2039;
    color: #fff;
    padding: 17px 29px;
    width: 300px;
}
.music-info {
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: relative;
}
.dropmenu {
    position: relative;

    display: none;
}
.dropmenu button {
    left: -137px;
    position: absolute;
    width: 141px;
    top: 24px;
    background-color: #1b2039;
    padding: 5px 19px;
    border: none;
    color: #fff;
}
div#playlist-container-modal {
    position: fixed;
    width: 100%;
    height: 100%;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: #00000069;
    visibility: hidden;
}
div#playlist-container {
    background-color: #191c24;
    padding: 18px 31px;
    color: #fff;
}
div#playlist-container button {
    background: none;
    border: none;
    font-size: 18px;
    text-align: center;
    display: block;
    width: 100%;
    color: #fff;
}
.music-details a {
    background-color: #3bc8e7;
    padding: 6px 41px;
    font-size: 18px;
    border-radius: 6px;
    margin-top: 20px;
    display: inline-block;
    text-transform: uppercase;
    font-weight: bold;
    font-family: "Nunito";
    letter-spacing: 8px;
}
.music-details p {
    font-size: 18px;
}
.music-details h2 {
    font-size: 56px;
    text-transform: uppercase;
}
/* .searchbar-container input[type="text"] */
@media only screen and (max-width: 900px) {
    .searchbar-container input[type="text"] {
        width: 300px;
    }
}
@media only screen and (max-width: 768px) {
    .searchbar-container input[type="text"] {
        width: 250px;
    }
    nav.sidebar {
        display: none;
    }
    .dashboard-container .mainbody {
        width: 100%;
    }
}
@media only screen and (max-width: 454px) {
    .dashboard-container .mainbody nav.navbar .acc-container {
        width: 100%;
    }
}

.music-cover {
    width: 100%;
    height: 420px;
    background-color: #000;
}
.hand {
    position: absolute;
    width: 12px;
    height: 12px;
    background-color: #3bc8e7;
    right: 0;
    top: -5px;
    border-radius: 50%;
}
.hero-section {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    padding-top: 0 !important;
}
section.hero-section .banner-text-container {
    display: flex;
    max-width: 1150px;
    flex-wrap: wrap;
    align-items: center;
}
section.hero-section .banner-text-container .banner-text h1 {
    font-size: 45px;
    font-weight: 600;
}
section.hero-section .banner-text-container .banner-img {
    margin-right: 71px;
    background: linear-gradient(270deg, black, transparent);
    position: relative;
    flex: 1;
}
section.hero-section .banner-text-container .banner-img::after {
    content: "";
    width: 100%;
    height: 118px;
    position: absolute;
    background: linear-gradient(111deg, #14182ad1, #14182a);
    top: 471px;
    transform: rotate(345deg);
    right: -29px;
}
section.hero-section
    .banner-text-container
    .banner-text
    .banner-btn-container
    a {
    background-color: #3bc8e7;
    padding: 9px 29px;
    border-radius: 10px;
}
section.hero-section .banner-text-container .banner-text p {
    padding: 6px 0 17px 0;
}
nav.secondary-nav {
    background-color: #1b2039;
    padding-top: 11px;
}
.secondary-links ul {
    list-style: none;
    flex-wrap: wrap;
    display: flex;
    justify-content: center;
}
.secondary-links ul li a {
    padding: 2px 21px;
}
.dashboard-container.front .mainbody nav.navbar .logo {
    background-color: #3bc8e7;
    padding: 9px 18px;
    border-radius: 17%;
    letter-spacing: 11px;
    font-weight: 600;
    display: flex;
    flex-wrap: wrap;
}
.dashboard-container.front .mainbody nav.navbar .logo h2 {
    margin-bottom: 0;
    font-weight: 600;
}
.dashboard-container.front .mainbody nav.navbar .logo i.fas.fa-music {
    font-size: 24px;
    margin-right: 9px;
    margin-top: 3px;
}
.banner-text {
    flex: 2;
}
.dashboard-container.front h4 {
    font-size: 18px !important;
}
.genres.playlist .genre-container {
    font-size: 49px;
}
.genres.playlist h2 {
    font-size: 18px !important;
    text-align: center;
    text-transform: capitalize;
}
.genres.playlist p {
    color: #ffffff85;
    text-align: center;
    font-size: 12px;
}
i.fas.fa-chevron-down.dropmenu-btn {
    cursor: pointer;
}
.genres.playlist .col-md-2 {
    position: relative;
}
.playlist-div {
    display: flex;
    justify-content: space-evenly;
}
.playlist-songs-container img {
    width: 100px;
    height: 100px;
    object-fit: cover;
}
.playlist-songs-container {
    background-color: #1b2039;
    padding: 29px 39px;
    border-radius: 9px;
    height: 532px;
    overflow-y: scroll;
}
.playlist-songs-container .song-container {
    margin-bottom: 15px;
}
.player-container {
    width: 100%;
    height: 100%;
    background-color: #000;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
}
.player-container:hover > .controls-container {
    visibility: visible;
}
.player-container .controls-container {
    position: absolute;
    width: 100%;
    bottom: 0;
    display: flex;
    flex-direction: column;
    align-items: center;
    visibility: hidden;
}
.player-container .controls-container .controls {
    font-size: 36px;
    display: flex;
    justify-content: space-between;
    width: 100%;
}
img#audio-cover {
    width: 100%;
    height: 470px;
    object-fit: contain;
}
div#cover {
    width: 100%;
    height: 441px;
    overflow: hidden;
}
div#screen video#audio-item {
    width: 100%;
}
div#screen {
    width: 100%;
}
.controls div {
    margin: 8px 21px;
}
input#volume-slider {
    position: relative;
    top: -6px;
    margin-right: 24px;
}
i#audio-btn {
    margin: 0 30px;
}
.controls i {
    cursor: pointer;
}
a#create-playlist {
    cursor: pointer;
}
.btn-container {
    display: flex;
    align-items: center;
}
.btn-container button {
    background: none;
    box-shadow: none;
    border: none;
    color: #3bc8e7;
    font-size: 22px;
}
.search-bar-container input.form-control {
    margin-bottom: 0;
    background-color: #14182a;
    border: none;
    border-radius: 0;
    position: absolute;
    z-index: 9;
    box-shadow: 0 0 2px 0px #fff;
    visibility: hidden;
}
.search-bar-container {
    position: relative;
}
